body {
  font: 100 18px system-ui;
  display: grid;
  width: 100%;
  grid-template-columns: 15vw 85vw;
  margin: 0;
}

button {
  cursor: pointer;
  filter: grayscale(1%);
  transition: .5s ease;
}

button:hover {
  filter: grayscale(50%);
}
/*Sidebar*/
.profile-contents {  
  background-color: #32A984;
  color: #0a0a0a;
  border-right: 1px solid #c2c2c2;
  box-shadow: 1px 1px 2px #eee;
  height: 168.8.5vh;
  box-sizing: inherit;
}

.aside-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amumu-logo {
  border-radius: 50px;
  background-color: #8AB996;
  background-image: url("Images/Amumu-profile.png");
  background-size: 5rem;
  height: 5rem;
  width: 5rem;
  background-repeat: no-repeat;
  margin: 2rem 0 1rem 0;
  cursor: pointer;
}

.amumu-logo:hover {
  background-image: url("Images/amumu.gif");
}

.amumu {
  font: 800 18px system-ui;
  color: #EDDC8B;
  text-align: center;
  margin-top: 0;
}

.position,
.miscellaneous,
.mapss {
  list-style-type: none;
  margin:0;
  padding:0;
  color: #2aa3cc;
  display: grid;
  grid-template-rows:1fr 1fr 1fr 1fr 1fr;
}

.mapss {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.aside-title {
  font-weight: 500;
  color: #D0F0C0;
  font-size: .8rem;
  background-color: #008B7D;
  border-color: #008B7D;
  text-align: left;
  background-image: url("Images/rank.png");
  background-repeat: no-repeat;
  background-size: 7.5rem;
  background-position: 100% 55%;
}

.role,
.misc,
.maps {
  padding: 1rem 3rem;
  background-color: #32A984;
  background-repeat: no-repeat;
  font-size: .8rem;
  color: #EDDC8B;
  text-align: left;
  border: none;
  cursor: pointer;
}

.role:hover,
.misc:hover,
.maps:hover {
  background-color: #47C16D;
  border-left: 4px solid #EDDC8B;
}

.role{
  background-size: 1.8rem;
  background-position: .5rem .6rem;
}

.top {
  background-image: url("Images/tank.png");
}

.jungle {
  background-image: url("Images/jungle.png");
  background-size: 1.9rem;
  background-position: .5rem .4rem;
}

.mid {
  background-image: url("Images/mid.png");
  background-position: .55rem .5rem;
  background-size: 1.7rem;
}

.adc {
  background-image: url("Images/adc.png");
  background-position:
}

.support {
  background-image: url("Images/support.png");
}

.misc {
  background-size: 1.8rem;
  background-position: .5rem .6rem;
}

.summoners {
  background-image: url("Images/targon.png");
}

.items {
  background-image: url("Images/items.png");
}

.masteries {
  background-image: url("Images/controller.png");
}

.runes {
  background-image: url("Images/specialist.png");
}

.skins {
  background-image: url("Images/shurima-icon.png");
}

.maps {
  background-size: 1.8rem;
  background-position: .5rem .6rem;
}

.summoners-rift {
  background-image: url("Images/top-lane.png");
}

.aram {
  background-image: url("Images/mid-lane.png");
}

.treeline {
  background-image: url("Images/bot-lane.png");
}

/*main body*/
.main-content {
  background-color: #D0F0C0;
}

/*Header,Search navigation bar*/
.search-nav {
  grid-template-columns: 4rem 2rem 1fr 4rem 4rem 4rem;
  display: grid;
  width: 100%;
}

.search-icon {
  background-color: #D0F0C0;
  border-left: none;
  border-right: none;
  border-top: groove 1px #DBDBE6;
  border-bottom: groove 1px #DBDBE6;
}

.fab {
  font-size: 1.5rem;
  padding: .3rem 0 0 0;
}

.hamburger-button {
  background-image: url("Images/craft-key.png");
  font-size: 2rem;
  color: #00BCD4;
}

.fa-align-justify {
  display: none;
}

.search-box {
  background-image: url("Images/dab-png.png");
  display: inline-block;
  background: none;
  border: groove 1px #DBDBE6;
  border-left: none;
}

.search-box::placeholder {
  font-size: 1.5rem;
  vertical-align: 100px;
}

input[type="text"] {
  font-size:2rem;
}

.search-buttons {
  border: groove 1px #DBDBE6;;
  display: inline-block;
  height: 3.8rem;
  background-size: 2.7rem;
  background-repeat: no-repeat;
  background-position: 45% 30%;
  background-color: #D0F0C0;
  border-left: none;
}

.search-buttons:hover {
  background-color: #9EDEA0;
  color: white;
}

.search-title-header {
  z-index: 1;
  position: sticky;
  bottom: 0;
  top: 0;
  background-color: #D0F0C0;
}

.league-icon {
  background-image: url("Images/league-of-legends.png");
}

.hex-icon {
  background-image: url("Images/hex-icon.png");
}

.amumu-showcase {
  background-image: url("Images/league-circle-button.png");
  background-size: 3.4rem;
}

/*title header*/
.curse-title {
  font-family: Optima, sans-serif;
  font-size: 3rem;
  color: ;
  margin: 0
}

.profile-header {
  grid-template-rows: 1fr 1fr;
  padding: 2rem 2rem 0 2rem;
}

.abilities-buttons {
  position: relative;
  bottom: 2rem;
  display: grid;
  grid-template-columns: 8rem 1fr 1fr 1fr;
}

.span-abilities-section {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.abilities {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50px;
  background-repeat:no-repeat;
  background-size: 2.5rem;
  margin: 0 .3rem;
}

.bandage-toss {
  background-image: url("Images/bandage-toss.png");

}

.despair {
  background-image: url("Images/despair.png");

}

.tantrum {
  background-image: url("Images/tantrum.png");
}

.shurima {
  height: 1.8rem;
  width: 2rem;
  background-image: url("Images/shurima.png");
  background-size: 2rem;
  margin: auto .5rem auto 0;
  border: none;
  background-color: #D0F0C0;
}

.location {
  color: #AA915C;
  margin: 0;
}

.preview {
  color: green;
  margin: 1rem;
  cursor: pointer;
}

.preview:hover {
  color: #4CC790;
}

.lol-button {
  background-image: url("Images/lol-title.png");
  background-size: 6rem;
  background-color: #D0F0C0;
  background-repeat: no-repeat;
  width: 7rem;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 50px;
  border: 2px groove #67AC5B;
  background-position: 50% 0;
}

/*content navigation*/
.content-nav {
  margin: 2rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main-nav {
  font-size: 1rem;
  width: 6rem;
  height: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  color: gray;
  transition: font-weight .5s;
}

.main-nav:hover {
  font-weight: 800;
  color: black;
  border-bottom: 3px solid #43A3F3;
  color: #6a6e77;
}

/*main content*/
main {
  border: groove 2px #DBDBE6;
  height: 100%;
  background-color: #BDD95C;
  background-size: 90rem;
  filter: grayscale(40%);
  filter: gray;
  transition: 1s ease;
}

main:hover {
  filter:grayscale(10%);
}

/*charts + graph*/
.charts-graphs{
  margin: 2rem 5rem 0 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}

.charts-buttons {
  display: flex;
  justify-content: space-around;
}

.graph-button {
  height: 2rem;
  width: 13rem;
  font-size: 1rem;
  border-radius: 50px;
  border: solid 2px #2aa3cc; 
  background: none;
}

.picks-game {
  width: 9rem;
}

/*circle graphs*/

.circular-chart {
  margin: 0;
  max-width: 14rem;
  min-width: 10rem;
}

.circle {
  stroke: #4CC790;
  fill: none;
  stroke-width: 2.5;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circle:hover {
  stroke: #0BDD6C;
}

figcaption {
  text-align: center;
}

.kills,
.assists,
.deaths {
  margin: auto;
  padding: 0 1rem;
}

/*BAR graphs*/
.bar {
  fill: #aaa;
  height: 100px;
  transition: fill .3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}

.bar-chart-one{
  margin: 0 3rem;
}

.bar-chart-two {
  display: none;
}

.chart-one {
  margin-top: 1rem;
}

.chart-two{
  margin: 1rem 0 0 -3rem;
  padding: 0 10rem 2rem 0;
}

.bar:hover,
.bar:focus {
  fill: #4cc790;
}

.bar1,
.bar4 {
  fill: green;
}

.bar2,
.bar5 {
  fill: #6FB8F6;
}

.bar3,
.bar6 {
  fill: #8DB711;
}

.kill-number,
.death-number,
.assist-number {
  color: yellow;
  font-size: .4rem;
}

.line-breakpoint {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1.5rem 0;
  width: 100%;
  background-image: url("Images/up-arrow.png");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}

.section-table-breakpoint-left {
  width: 46%;
  padding: 0;
}

.section-table-breakpoint-right {
  width: 46%;
  padding: 0;
}

/*table + side links*/
.information-content {
  margin: 4rem 0 4rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr; 
}

.champion-content-table {
  height: 40rem;
  padding: 0 4rem;
  border-collapse: collapse;
  margin: 0 0 0 3rem;
  border-width: initial;
}

.table-header{
  background-color: #32A984;
  background-image: url(Images/victory.png);
  background-size: 10rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 12rem;
  color: #D0F0C0;
}

.table-header:hover{
  background-color: #32A984;
}

tbody tr {
  display: flex;
  color: rgb(111, 126, 149);
  margin: 0px auto;
  padding: 0 3rem 0 3rem;
}

tr {
  background-color: #9EDEA0;
  filter: grayscale(0);
  filter: gray;
  transition: .5s ease;
}

tr:hover {
  background-color: #C4D2A4;
}

.item-value,
.item-title {
  padding: 2.5rem 0;
  border: 1px groove lightgray;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-right: 5rem;
}

.item-title {
  width: 10rem;
  background-repeat: no-repeat;
  background-size: 3rem;
  background-size: 3rem;
  background-position: 80% 45%;
  font-weight: 800;
}

.item-value {
  width: 65%;
}

.mr {
  background-image: url("Images/attack-rune.png");
}

.health-regen {
  background-image: url("Images/christmas-rune.png");
}

.armor {
  background-image: url("Images/halloween-rune.png");
}

.mana {
  background-image: url("Images/ghost-rune.png");
}

.background {
  background-image: url("Images/lore-png.png");
  background-size: 6rem;
  background-position: 90%;
}

.friends {
  background-image: url("Images/annie.png");
  background-size: 3.5rem;
  background-position-x : 80%;
}

.quote, .quotes {
  border-bottom: none;
}

.quotes {
  background-image: url("Images/quotes-png.png");
}

/*social-game buttons + social links*/
.game-buttons {
  display: flex;
  flex-direction: column;
}

.social-links{
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  padding: 13px 35px 12px;
  height: 3.4rem;
  width: 19rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  background-size: 3rem;
  background-repeat: no-repeat;
  margin: .5rem 0;
  border-radius: 5px;
  letter-spacing: .2rem;
}

.discord {
  margin-top: 0;
  background-image: url("Images/discord.png");
  transition: all ease .5s;
  background-color: #8C9EF6;
}

.youtube {
  background-image: url("Images/youtube.png");
  background-color: #E06453;
}

.telegram {
  background-image: url("Images/telegram.png");
  background-color: #73A8D7;
  background-size: 2.5rem;
  background-position: 1% 20%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-form {
  display: grid;
  grid-template-columns: 4.5fr 1fr; 
}

.game-quotes {
  height: 2.5rem;
}

.send-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2.5rem 0;
  border-bottom: 1px solid gray;
  border-bottom-width: 10rem: 
}
h4 {
  margin: 0;
}

.zyra-quote {
  border: none;
}

.braum-quote {
  padding-top: 3rem;
}

.fa-connectdevelop,
.fa-download,
.fa-quote-right{
  margin-right: 1rem
}

.game-quotes::placeholder {
  font-size: 1rem;
}

.copy {
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-image: url(Images/green-copyfile.png);
  width: 3rem;
  cursor: pointer;
  background-position: 40% 40%;
  background-color: #D0F0C0;
  border-radius: 5px;
}

@media screen and (max-width: 1425px){

  .circular-chart {
    width: 14rem
  }

  .charts-graphs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .bar-chart-one{
    margin: 3rem auto;
    grid-column: 3 span;
  }

  .charts-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .kda {
    position: relative;
    bottom: 25rem;
  }

  .picks-game {
    position: relative;
    bottom: 6.5rem;
  }

  .line-breakpoint {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .links-breakpoint {
    display: none;
  }

  .information-content {
    margin: 4rem 0 4rem 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  .game-buttons {
    flex-direction: row;
  }

  .social-links{
    margin: 0 4rem;
  }

  .social {
    margin: 2rem .5rem;
  }

  .all-send-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .send-links {
    border-bottom: none;
  }

  .braum-quote {
    margin: 0;
  }

  .champion-content-table {
    margin: 0 4rem;
  }

   .item-value {
    width: 67%;
  } 
}

@media screen and (max-width: 1280px){
  
   body {
    font: 100 18px system-ui;
    width: 100%;
    margin: 0;
  }

  .profile-contents{
    display: none;    
  }

  .hamburger-button {
    background: none;
  }

  .fas, .far {
    display: initial;
  }

  .main-content{
    grid-column: span 2;
  }

  .abilities-buttons {
    position: initial;
  }

  .social-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .game-buttons {
    display: grid;
  }

  .all-send-links {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1050px){
  
  .charts-buttons{
    margin: 0;
  }
  
  .item-value {
    padding-left: 1rem;
  } 

  .item-title {
    background-position: 10rem;
  }

  .background {
    background-position: 120%;
  }
}

@media screen and (max-width: 880px){

  .abilities-buttons {
    margin: 1rem 0;
  }

  .content-nav {
    margin: 1rem 0 0 0
  }

  .profile-header {
    height: 11.1rem;
  }

  .charts-graphs {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 74rem;
  }

  .bar-chart-one {
    grid-column: span 1;
    margin-top: 6rem;
  }

  .champion-content-table {
    margin: 0;
  }

  .table-header{
    background-position: 15rem;
  }

  .item-value {
    padding-left: 0;
    padding-right: 0;
  }

  .item-title {
    background-position: 14rem;
  }
 
  .mr,
  .health-regen,
  .armor, 
  .mana,
  .background,
  .friends, 
  .quotes {
    background-image: none;
  }

  .main-nav {
    width: 3rem;
    font-size: .8rem
  }

  .kda {
    position: relative;
    bottom: 25rem;
    right: 1rem;
  }

  .picks-game {
    right: 1rem;
  }

  .social-links {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .all-send-links {
    margin: auto 2rem;
  }

  .social {
    margin: 1rem auto;
    width: 23rem;
  }

@media screen and (max-width: 700px){
   
   .span-abilities-section {
    display: grid;
  }

  .curse-title {
    font-size: 23px;
  }

  .chart-two {
    padding: 5rem 10rem 2rem 0;
    height: 9rem;
  }

  .bar-chart-one {
    display: none;
  }

  .bar-chart-two {
    display: grid;
    grid-column: span
  }

  .kda {
    bottom: 19.5rem;
  }

  .picks-game {
    bottom: 2rem;
  }

  input[type="text"] {
    font-size: .6rem;
  }

  .item-value {
    padding-left: 0;
    padding-right: 0;
  }

@media screen and (max-width: 600px){
  
  .item-title{
    padding-right: 2rem;
  }

  .background-value {
    font-size: .9rem;
  }
}

@media screen and (max-width: 500px){

 .table-header {
    background-position: 11rem;
  }

@media screen and (max-width: 320px){

  .main-content {
    width: 210vw;
  }
}